body {background-color: black; }

#box-wrapper{
	background-image: url('images/main_images/404_image.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px
}

#box-wrapper h3{
	text-align: center;
	color: #333;
	border: 5px solid #333;
	border-radius: 10px;
	padding: 10px;
	font-family: 'Baloo Chettan',cursive;
	font-weight: bold;
	background: #eee;
}

#box-wrapper p{
	text-align: justify;
	font-size: 15px;
	font-family: 'Play', sans-serif;
	padding:;
}
