body {background-color: black; }

.main-image {
	/*background-image: url('images/main_images/home_image.jpg') ;no-repeat;*/
	background-color: white;
	background-size:100%;
	height: 1150px;
	display:block;
	padding:0 !important;
	margin:0;
}

.main-image p {
	color: white;
	position: fixed; width:100%; text-align: center;
	/*text-shadow: 2px 2px 2px #000000;*/
	text-shadow:
	-2px -2px 0 #ff6600,
    2px -2px 0 #ff6600,
    -2px 2px 0 #ff6600,
    2px 2px 0 #ff6600;  
	font-weight: bold;


}

